@import "variables";
@import "mixins";
@import "reboot";

.app {
  width: 1000px;
  margin: 100px auto;
  background-color: $white;
  border-radius: 4px;
  padding: 0px 20px 20px;
}
.header {
  position: relative;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid $gray-light;
  &-avatar {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $image-size;
    height: $image-size;
    border-radius: 50%;
    background-color: res;
  }
  &-hello {
    padding-top: 60px;
  }
  &-description {
    font-size: 20px;
  }
}

.education {
  &-element {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .element-year {
    flex: 1;
    height: 100%;
  }
  .element-experience {
    flex: 8;
    padding: 6px 10px;
    background-color: $gray-light;
    &-event {
      font-weight: bolder;
      color: $black;
    }
    p {
      margin: 4px;
    }
  }
}
